<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{model_name}}</title>
        <link rel="stylesheet" href="{{style_path}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js" charset="utf-8"></script>
        <script src="/static/plot.js" charset="utf-8"></script>
    </head>
    <body>
        <a class="button" href="../">HOME</a>
        <h1>{{model_name}}</h1>
        <canvas id="accuracy_plot"></canvas>
        <canvas id="loss_plot"></canvas>
        <script type="text/javascript">
            var accuracy_plot_context = document.getElementById('accuracy_plot').getContext('2d');
            var loss_plot_context = document.getElementById('loss_plot').getContext('2d');

            lineplot(
                ctx=accuracy_plot_context,
                x={{x}},
                train_data={{train_acc}},
                valid_data={{valid_acc}},
                title="{{acc_plot_title}}",
            );
            lineplot(
                ctx=loss_plot_context,
                x={{x}},
                train_data={{train_loss}},
                valid_data={{valid_loss}},
                title="{{loss_plot_title}}",
            );
        </script>
        <h2>Model Details</h2>
        <p>
            <b>TODO: </b> Add a list of details about model parameters and
            hyperparameters.
        </p>
    </body>
</html>
