<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{model_name}}</title>
        <link rel="stylesheet" href="{{style_path}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js" charset="utf-8"></script>
        <script src="/static/plot.js" charset="utf-8"></script>
    </head>
    <body>
        <a class="button" href="../">HOME</a>
        <h1>{{model_name}}</h1>
        <canvas id="myChart"></canvas>
        <script type="text/javascript">
            var context = document.getElementById('myChart').getContext('2d');
            lineplot(
                ctx=context,
                x={{x}},
                train_data={{train_data}},
                valid_data={{valid_data}},
                title="{{plot_title}}",
            );
        </script>
        <h2>Model Details</h2>
        <p>
            <b>TODO: </b> Add a list of details about model parameters and
            hyperparameters.
        </p>
    </body>
</html>
